.square {
  border:1px solid black;
  height:80px;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  margin-top:10px;
}

.red {
  background: red;
}

.blue {
  background: blue;
}