<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>

    <link rel="stylesheet" href="{{ static('css/main.css') }}">
    <link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}">
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ static('js/vendors/jquery-1.8.3.min.js') }}"><\/script>')</script>
    <script src="{{ static('js/main.js') }}"></script>

    {% block body %}
    {% endblock %}



    <!-- build:js scripts/plugins.js -->
    <script src="{{ static('js/vendors/bootstrap/bootstrap-affix.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-alert.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-dropdown.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-tooltip.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-modal.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-transition.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-button.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-popover.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-typeahead.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-carousel.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-collapse.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/bootstrap-tab.js') }}"></script>

    <!-- endbuild -->
</body>
</html>
