
{% if winner != None: %}
<div class="row">
  <div class="col-xs-12 ">
    <h5>We got a winner!!!!!!!!</h5>
      {% if winner == 'A': %}
        <div class="circle blue"></div>
      {% elif winner == 'B': %}
        <div class="circle red"></div>
      {% endif %}
      <br/>
      <p>
        <a href="javascript:;" class="btn btn-default btn-success resetBoard" >Start over</a>
      </p>
  </div>
</div>
{% endif %}

<p>
Current turn is from player:
 {% if currentTurn == 'A': %}
    <div class="circle blue"></div>
  {% elif currentTurn == 'B': %}
    <div class="circle red"></div>
  {% endif %}
</p>
<span id="currentturn" style="display:none;">{{currentTurn}}</span>

{% if winner == None: %}
  {% for row in gameBoard[0:1] %}
       <div class="row triggerrow" data-rownumber="{{loop.index - 1}}">
          {% for cell in row %}
              <div class="col-xs-1 coltrigger square" data-colnumber="{{loop.index - 1}}">
                <div class="circle"></div>
              </div>
           {% endfor %}
        </div>
    {% endfor %}
  <br/>
{% endif %}
{% for row in gameBoard %}
    <div class="row" data-rownumber="{{loop.index - 1}}">
      {% for cell in row %}
            <div class="col-xs-1 square" data-cellnumber="{{loop.index - 1}}">
                {% if cell == 'A': %}
                  <div class="circle blue"></div>
                {% elif cell == 'B': %}
                  <div class="circle red"></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endfor %}