{% extends 'base.html' %}

{% block body %}

<div class="container" >
    <h3>{{welcome}}</h3>
    <div class="row">
        <div class="col-xs-4 pull-left">
            <span id="playerid" style="display:none;">{{playerid}}</span>
            <p>
            Your discs are:
              {% if playerid == 'A': %}
                <div class="circle blue"></div>
              {% elif playerid == 'B': %}
                <div class="circle red"></div>
              {% endif %}
            </p>
        </div>
        <div class="col-xs-4 pull-right">
            <p class="text-center">
                <a href="javascript:;" class="btn btn-default btn-success" id="resetBoard" >Reset the board!</a>
            </p>
        </div>
    </div>

    <div id="gameboard">
    {% include 'board.html' %}
    </div>


</div>



{% endblock %}
