{% extends 'base.html' %}

{% block body %}

<div class="container" >
    <h3>Welcome!</h3>
    <p>To start playing, player one must click <a href="\users\1">here</a></p>
    <p>And player two must click <a href="\users\2">here</a></p>

</div>



{% endblock %}
